* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #ECA1FA;
}

#contenido {
  height: 100%;
}

div.noticia {
  margin-bottom: 20px;
}

div.noticia > h1 {
  color: #8C2F5E;
  margin-top: 70px;
}

div.noticia > p {
  color: #432F75;
}

div.noticia {
  margin: auto;
  width: 90%;
}

div#contenido {
  margin-top: 100px;
  margin-bottom: 200px;
}

img#logo {
  width: 200px;
  height: 100px;
  float: right;
}

div#header {
  background-color: #8C2F5E;
  color: white;
  height: 70px;
  width: 100%;
  top: 0px;
  position: absolute;
}

div#footer {
  background-color: #432F75;
  color: white;
  height: 150px;
  width: 100%;
  bottom: 0px;
  position: fixed;
}
img#batimanta {
  display: inline;
  float: left;
  margin-right: 15px;
}
div#music {
top: 300px
right: 100px
}
